fieldset.rating
  div.rating__group
    input.rating__input(type="radio" name="health" id="health-1" value="1" checked)
    label.rating__star(for="health-1" aria-label="awfully")

    input.rating__input(type="radio" name="health" id="health-2" value="2")
    label.rating__star(for="health-2" aria-label="tolerably")

    input.rating__input(type="radio" name="health" id="health-3" value="3")
    label.rating__star(for="health-3" aria-label="normally")

    input.rating__input(type="radio" name="health" id="health-4" value="4")
    label.rating__star(for="health-4" aria-label="good")

    input.rating__input(type="radio" name="health" id="health-5" value="5")
    label.rating__star(for="health-5" aria-label="very well")

    div.rating__focus