ul.slider-product
  li.slider-product__item
    include ../product/product.pug
    +product({img: 'img-product-4.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-5.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-7.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-4.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-5.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-7.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  li.slider-product__item
    +product({img: 'img-product-1.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})