section.banner
  div.container
    div.row
      div.col-12.col-md-7.offset-md-5
          h1.banner__title Welcome to Pelevita store — exclusive distributor of SHOR Cosmetics in USA and Canada
          +btn({text: 'LEARN MORE', type: 'link', })