ul.pagination
  li.pagination__item
    span.pagination__number 1
  li.pagination__item
    a.pagination__link(href="#") 2
  li.pagination__item
    a.pagination__link(href="#") >
  li.pagination__item
    a.pagination__link.pagination__arrow-end(href="#") >
