.social-icon {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  /* 3 Typography */

  /* 4 Visual */
  list-style: none;

}
.social-icon__item {
  /* 2 Block model */
  margin: 0 8px;
}
.social-icon__item a {
  /* 2 Block model */
  display: flex;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */