ul.social-icon
  li.social-icon__item
    a(href="#")
      span.visually-hidden Facebook
      +icon('icon--facebook')

  li.social-icon__item
    a(href="#")
      span.visually-hidden Instagram
      +icon('icon--instagram')

  li.social-icon__item
    a(href="#")
      span.visually-hidden Twitter
      +icon('icon--twitter')

  li.social-icon__item
    a(href="#")
      span.visually-hidden Youtube
      +icon('icon--youtube')

  li.social-icon__item
    a(href="#")
      span.visually-hidden Pinterest
      +icon('icon--pinterest')
