section.categories
  div.container
    div.row
      div.col-12
        h2.h2 CATEGORIES

    div.row.no-gutters
      div.col-12
        div.categories__item.categories__item--mb-54
          h3.categories__title AGE REBEL
          span.categories__desc Unique line of skin care products for men and women
    
    div.row.no-gutters
      div.col-12.col-md-7
        div.categories__item.categories__item--mr-50.categories__item--mb-25.categories__item--bg-1
          h3.categories__title HAPPY AGING
          span.categories__desc Unique line of skin care products for men and women

      div.col-12.col-md-5
        div.categories__item.categories__item--bg-2
          h3.categories__title NEW PERCEPTION
          span.categories__desc Unique line of skin care products for men and women