div.product-desc-1
  div.container 
    div.row
      div.col-12
        div.product-desc-1__info
          p.text.text--14 CLEANSING MILK PLEASURE is an ultra-thin cleansing milk and makeup remover designed for use on sensitive skin. This gentle but thorough cosmetic product deeply cleanses the skin, calming and toning the cellular tissue of the skin. In addition, the product smoothes delicate skin surfaces. It provides the skin with a full and long-lasting moisturizing effect, penetrating the skin layers for moisturizing. Moreover, the product softens the growth of new cells. Highly effective and pure ingredient of white lotus extract extracted from a beautiful lotus flower. The extract is widely known and appreciated for its purity and excellent cleansing properties. During cleansing, this unique formula also balances and evens out skin tones for a radiant youthful effect.

          h4.text.text--14-medium Recommended skin cleansing directions

          p.text.text--14 Recommended directions for using this clean, anti-aging skincare product are to apply a small amount of this specialized cleanser both morning and evening, gently massaging, but thoroughly, on the face, neck and décolleté. Allow extra time to massage any area of ​​dry, oily, oily, or sun-damaged skin. Rinse your skin thoroughly with warm or cold water using cotton swabs, and then wipe dry with a fresh cosmetic towel or clean, soft cloth.
          
          div.product-desc-1__text
            p.text.text--14 Products included in AGE REBEL COLLECTION are classified as anti-aging cosmetics. They are specially designed for women aged 45 years and older. The desire and desire to have and maintain healthy, bright skin is recognized by the aesthetic desire and requirement of modern women. He also relies on a special philosophy and lifestyle, focused on natural, healthy foods, foods and lifestyle choices.

            p.text.text--14 When developing this revitalizing collection of cosmetics, Andrey Shor included pure natural ingredients that can deal with such harmful environmental factors as ultraviolet radiation, climate change, pollution from vehicles and factories, stress from everyday life, and even interfere with them. fluctuations in blood pressure and dehydration of skin tissue caused by dry or overheated rooms.

          p.text.text--14 This excellent collection of cosmetics restores and supports the natural processes of the production and regeneration of the skin, preventing its aging. This healthy collection of pure cosmetics gives the skin vitality, youth and attractiveness. When used daily, CLEANSING MILK PLEASURE will help your skin look and feel younger, brighter and healthier.

          div.product-desc-1__text2
            p.text--14-medium SKU: B07SRZYX55

            p.text--14-medium WEIGHT
              span.text--14.mr-l-18 9.9 oz

            p.text--14-medium DIMENSIONS
              span.text--14.mr-l-18 1.8 × 1.8 × 7.1 in

          p.text.text--14-medium Permission of the "Ministry of Health of Israel"

          div.product-desc-1__certificates
            ul.product-desc-1__list
              li.product-desc-1__item
                a.modal-link(href="#modal_certificates")
                  img(src="images/img-certificates-1.jpg", alt="certificates")


              li.product-desc-1__item
                a(href="")
                  img(src="images/img-certificates-2.jpg", alt="certificates")

              li.product-desc-1__item
                a(href="")
                  img(src="images/img-certificates-3.jpg", alt="certificates")