div.product-desc
  div.container 
    div.row
      div.col-12.col-md-6
        div.product-desc__img
          img(src="images/img-product-desc.jpg", alt="product description ")

      div.col-12.col-md-6
        div.product-desc__info
          h3.product-desc__title Active ingredients of the formula
          p.text.text--14 The active ingredients of CLEANSING MILK PLEASURE include the following pure and firming substances:Milk box for women: 

          h4.text--14-medium WHITE LOTUS EXTRACT 
          p.text.text--14 This main ingredient cleanses, softens and moisturizes skin tissue. It penetrates several layers of the skin in order to completely and evenly cleanse the skin, while moisturizing and making it elastic. Its combined advantages as a mild but thorough skin cleanser and a highly effective emollient make it extremely useful for restoring and revitalizing skin cells, as it cleanses, brightens and smoothes skin surfaces. This pure ingredient is also very active in balancing and brightening skin tones, giving your face, neck and décolleté skin a new vitality. 
        
          h4.text--14-medium AGASTACHE MEXICANA FLOWER / SHEET / EXTRACT STEMA (AGASCALMTM) 
          p.text.text--14 This component of the formula reduces inflammation  and redness as a result of tension and stress. Soothes any areas of red or rough skin caused by dryness or exposure to extreme climatic temperatures or severe weather conditions. This ingredient is also useful for healing tanned or weathered skin and helps replenish and balance natural skin oils. 

          h4.text--14-medium COCO GLUCOSIDE (MONTANOVTM 82) 
          p.text.text--14 This product ingredient strengthens the lipid barrier, as it moisturizes the skin for a long time. As a gentle, soothing emollient, it nourishes new skin cells, renewing old skin tissue. Evenly moisturizing, it slightly saturates the skin layers, helping to soften and tighten dry or sagging skin for fuller, younger-looking skin surfaces. Because it strengthens the skin’s external protective barrier, it also supports the skin’s ability to maintain this healthy barrier. This ingredient also helps maintain a good level of hydration by preventing loss of moisture from the surface of the skin. 

          h4.text--14-medium PANTHENOL 
          p.text.text--14 This component of the formula soothes and softens the skin, making it more elastic and youthful. It also helps soften any discoloration of the skin surface by reducing dark or red spots or spots. The component is evenly absorbed into the layers of the skin. In addition, this ingredient also helps maintain a healthy level of moisture under the skin of the face and neck. 

          h4.text--14-medium Vitamin E 
          p.text.text--14 This versatile anti-aging component protects from sunlight and accelerates the regeneration of skin cells. It acts as a healing agent for worn or damaged skin tissues, while wrinkles and fine lines that appear on the delicate skin surrounding the eyes and mouth and under the chin disappear Open Bottle of Clensing Milk for Women. This pure vitamin has multiple anabolic, or healing, and restorative properties for renewing and brightening the skin. It can also significantly improve skin elasticity, resulting in denser pores and smoother, more radiant skin surfaces.
