.product-desc {
  /* 2 Block model */
  padding-bottom: 22px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-bottom: 30px;
  }
  @media(min-width: 1200px) {
    /* 2 Block model */
    padding-bottom: 42px;
  }
}
.product-desc-1 {
  /* 2 Block model */
  padding-bottom: 22px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-bottom: 30px;
  }
  @media(min-width: 1200px) {
    /* 2 Block model */
    padding-bottom: 144px;
  }
}
.product-desc__img {
  /* 2 Block model */
  width: 100%;
  margin-bottom: 30px;

  @media(min-width: 768px) {
    /* 2 Block model */
   margin-bottom: 0;
   padding-top: 20px;
   
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    max-width: 464px;
    margin-left: auto;
    padding-top: 32px;
  }
}
.product-desc__img img {
  /* 2 Block model */
  display: block;
  width: 100%;
}
.product-desc__title {
  /* 2 Block model */
  margin: 0;
  margin-bottom: 32px;

  /* 3 Typography */
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: $color-black;
}
.product-desc__info .text {
  /* 2 Block model */
  margin-bottom: 18px;
}
.product-desc__info .text--14-medium {
  /* 2 Block model */
  margin: 0;
  margin-bottom: 18px;

  /* 3 Typography */
  text-transform: uppercase;
}
.product-desc-1__info .text {
  /* 2 Block model */
  margin-bottom: 36px;
}
.product-desc-1__info .text--14-medium {
  /* 2 Block model */
  margin-bottom: 18px;
}
.product-desc-1__info .text--14-medium span {
  /* 2 Block model */
  display: inline-block;
}
.product-desc-1__text .text {
  /* 2 Block model */
  margin-bottom: 18px;
}
.product-desc-1__text2 {
  /* 2 Block model */
  padding-bottom: 18px;
}
.product-desc-1__list {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  padding-top: 18px;
  display: flex;
  align-items: center;

  /* 4 Visual */
  list-style: none;
}
.product-desc-1__item {
  /* 2 Block model */
  width: 100%;
  max-width: 150px;
  margin-right: 15px;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-right: 68px;;
  }
}
.product-desc-1__item:first-child {
  /* 2 Block model */
  margin-right: 15px;
  max-width: 108px;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-right: 72px;
  }
}
.product-desc-1__item:nth-child(2) {
  /* 2 Block model */
  max-width: 293px;
}
.product-desc-1__item:nth-child(3) {
  /* 2 Block model */
  max-width: 110px;
}
.product-desc-1__item:last-child {
  /* 2 Block model */
  margin-right: 0;
}
.product-desc-1__item a {
  /* 2 Block model */
  display: block;

  /* 4 Visual */
  text-decoration: none;
}
.product-desc-1__item img {
  /* 2 Block model */
  display: block;
  width: 100%;

  /* 4 Visual */
  border: none;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */