ul.cards
  li.cards__item
    span.visually-hidden Visa
    +icon('icon--visa')

  li.cards__item
    span.visually-hidden Mastercard
    +icon('icon--mastercard')

  li.cards__item
    span.visually-hidden Paypal
    +icon('icon--paypal')

  li.cards__item
    span.visually-hidden Stripe
    +icon('icon--stripe')