ul.slider-reviews
  li.slider-reviews__item
    include ../review/review.pug
    +review({autor: 'm', color: '#fe7194', title: 'Using for 5 years now!!', name: 'Name of customer', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})

  li.slider-reviews__item
    +review({autor: 'v', color: '#63c4ba', title: 'Using for 5 years now!!', name: 'Name of customer', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})

  li.slider-reviews__item
    +review({autor: 'g', color: '#7f60be', title: 'Using for 5 years now!!', name: 'Name of customer',  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})

  li.slider-reviews__item
    +review({autor: 'b',  color: '#c46372', title: 'Using for 5 years now!!', name: 'Name of customer',  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})

  li.slider-reviews__item
    +review({autor: 'r',  color: '#fe7194', title: 'Using for 5 years now!!', name: 'Name of customer', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})
  li.slider-reviews__item
    +review({autor: 'a',  color: '#fe7194', title: 'Using for 5 years now!!', name: 'Name of customer', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})

  li.slider-reviews__item
    +review({autor: 't', color: '#7f60be', title: 'Using for 5 years now!!', name: 'Name of customer',  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.'})