.footer__top {
  /* 2 Block model */
  padding-top: 30px;

  /* 4 Visual */
  border-bottom: 1px solid $color-brown;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 0;
    padding-bottom: 9px;
  }
}
.footer__left {
  /* 2 Block model */
  display: flex;
  margin-bottom: 15px;

  @media(min-width: 768px) {
    /* 2 Block model */
    display: flex;
    padding-left: 31px;
    margin-bottom: 0;
  }
}
.footer__follow {
  /* 2 Block model */
  margin-right: 25px;

  /* 3 Typography */
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ababb2;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-right: 33px;
  }
}
.footer__social .icon {
  /* 2 Block model */
  fill: #ababb2;

  /* 5 Animation*/
	transition: all 0.4s;
}
.footer__social .icon--instagram {
  /* 2 Block model */
  width: 22px;
  height: 22px;
}
.footer__social .social-icon__item:hover .icon {
  /* 4 Visual */
  fill: $color-black;
}
.footer__contacts {
  /* 2 Block model */
  display: flex;
}
.footer__right {
  /* 2 Block model */
  margin-bottom: 10px;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-bottom: 0;
  }
}
.footer__contacts .icon {
  /* 2 Block model */
  fill: #ababb2;
  width: 14px;
  height: 14px;

  @media(min-width: 992px) {
    /* 2 Block model */
    width: 17px;
    height: 17px;
  }
}
.footer__phone {
  /* 2 Block model */
  margin-right: 15px;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-right: 50px;
  }
}
.footer__phone  a {
  /* 3 Typography */
  color: #ababb2;
  font-size: 11px;
  line-height: 11px;

  @media(min-width: 992px) {
    /* 3 Typography */
    font-size: 14px;
    line-height: 14px;
  }
}
.footer__mail a {
  /* 3 Typography */
  color: #ababb2;
  font-size: 11px;
  line-height: 11px;

  @media(min-width: 992px) {
    /* 3 Typography */
    font-size: 12px;
    line-height: 12px;
  }
}
.footer__phone .icon-phone:hover {
  /* 3 Typography */
  color: $color-black;
}
.footer__phone .icon-phone:hover .icon {
  /* 4 Visual */
  fill: $color-black;
}
.footer__mail .icon-link__body:hover {
  /* 3 Typography */
  color: $color-black;
}
.footer__mail .icon-link__body:hover .icon {
  /* 4 Visual */
  fill: $color-black;
}
.footer__body {
  /* 2 Block model */
  padding-top: 26px;
  padding-bottom: 35px;
}
.footer__logo {
  /* 2 Block model */
  display: flex;
  justify-content: center;
}
.footer__menu {
  /* 2 Block model */
  margin-bottom: 20px;
  padding-top: 15px;

  /* 3 Typography */
  text-align: center;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-bottom: 0;
    padding-top: 0;

    /* 3 Typography */
    text-align: left;
  }
}
.footer__menu h3 {
  /* 2 Block model */
  margin: 0;
  margin-bottom: 17px;
  padding-top: 7px;

  /* 3 Typography */
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: $color-gray;
}
.footer__bootom {
  /* 2 Block model */
  padding-top: 7px;
  padding-bottom: 6px;

  /* 3 Typography */

  /* 4 Visual */
  background-color: $color-brown;
}
.footer__copyright {
  /* 2 Block model */
  margin-bottom: 10px;

  /* 3 Typography */
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
  color: $color-black;
  text-align: center;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-left: 24px;
    margin-bottom: 0;

    /* 3 Typography */
    text-align: left;
  }
}
.footer__cards {
  @media(min-width: 768px) {
    /* 2 Block model */
    padding-left: 24px;
  }
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */