section.services
  div.container
    div.row
      div.col-12.col-md-4
        include ../service/service.pug
        +service({img: 'service-charity.png', alt: 'charity', title: '700+ CLIENTS LOVE US!', desc: 'We offer best service and great prices on high quality products'})
      div.col-12.col-md-4
        +service({img: 'service-tracking.png', alt: 'tracking', title: 'SHIPPING TO USA AND CANADA', desc: 'Our store operates worldwide and you can enjoy free delivery of all orders'})
      div.col-12.col-md-4
        +service({img: 'service-credit-card.png', alt: 'credit-card', title: '100% SAFE PAYMENT', desc: 'Buy with confidence using the world’s most popular and secure payment methods'})