ul.menu-tab
	li.menu-tab__item
		a.menu-tab__link.tabs-link.menu-tab__link--active(href="#tab_1") INGREDIENTS

	li.menu-tab__item
		a.menu-tab__link.tabs-link(href="#tab_2") DESCRIPTION
	li.menu-tab__item
		a.menu-tab__link.tabs-modal.modal-link(href="#modal_question") ASK A QUESTION