section.catalog
  div.container
    div.row
      div.col-12
        h1.h2 CATALOG

  div.catalog__img-bg

  div.container
    div.row
      div.col-12
        h2.catalog__title AGE REBEL
        p.text AGE REBEL COLLECTION are classified as anti-aging cosmetics. They are specially designed for women aged 45 years and older. The desire and desire to have and maintain healthy, bright skin is recognized by the aesthetic desire and requirement of modern women. He also relies on a special philosophy and lifestyle, focused on natural, healthy foods, foods and lifestyle choices.
        p.text When developing this revitalizing collection of cosmetics, Andrey Shor included pure natural ingredients that can deal with such harmful environmental factors as ultraviolet radiation, climate change, pollution from vehicles and factories, stress from everyday life, and even interfere with them. fluctuations in blood pressure and dehydration of skin tissue caused by dry or overheated rooms.

  div.container
    div.catalog__list
      div.row
        div.col-12.col-md-4.catalog__item
          include ../product/product.pug
          +product({img: 'img-product-1.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-2.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-3.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-4.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-5.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-1.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})
        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-6.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  div.catalog__img-bg.catalog__img-bg--1

  div.container
    div.row
      div.col-12
        h2.catalog__title HAPPY ANGING
        p.text AGE REBEL COLLECTION are classified as anti-aging cosmetics. They are specially designed for women aged 45 years and older. The desire and desire to have and maintain healthy, bright skin is recognized by the aesthetic desire and requirement of modern women. He also relies on a special philosophy and lifestyle, focused on natural, healthy foods, foods and lifestyle choices.
        p.text When developing this revitalizing collection of cosmetics, Andrey Shor included pure natural ingredients that can deal with such harmful environmental factors as ultraviolet radiation, climate change, pollution from vehicles and factories, stress from everyday life, and even interfere with them. fluctuations in blood pressure and dehydration of skin tissue caused by dry or overheated rooms.

  div.container
    div.catalog__list
      div.row.justify-content-center
        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-7.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  div.catalog__img-bg.catalog__img-bg--2

  div.container
    div.row
      div.col-12
        h2.catalog__title NEW PERCEPTION
        p.text AGE REBEL COLLECTION are classified as anti-aging cosmetics. They are specially designed for women aged 45 years and older. The desire and desire to have and maintain healthy, bright skin is recognized by the aesthetic desire and requirement of modern women. He also relies on a special philosophy and lifestyle, focused on natural, healthy foods, foods and lifestyle choices.
        p.text When developing this revitalizing collection of cosmetics, Andrey Shor included pure natural ingredients that can deal with such harmful environmental factors as ultraviolet radiation, climate change, pollution from vehicles and factories, stress from everyday life, and even interfere with them. fluctuations in blood pressure and dehydration of skin tissue caused by dry or overheated rooms.
  
  div.container
    div.catalog__list
      div.row
        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-8.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})
        div.col-12.col-md-4.catalog__item
          +product({img: 'img-product-8.jpg', img_title: 'AGE REBEL', title: 'AGE REBEL', desc: 'Cleansing Milk Pleasure for women', price: '$49.90'})

  div.catalog__img-bg.catalog__img-bg--3

  div.container
    div.row
      div.col-12
        h2.catalog__title RECENTLY VIEWED PRODUCTS

      div.col-12
        div.catalog__slider
          include ../slider-product/slider-product.pug


