section.about-us
  div.container
    div.row.align-items-center
      div.col-12
        h2.h2 ABOUT US

    div.row
      div.col-12.col-md-6
        p.text.text--medium Hello and welcome! My name is Julia Pasha, and I live in Israel, where I spent a great deal of time searching for cosmetics that would allow me to avoid Botox injections. Finally, I found what I was looking for, and now, having tried them myself, I want to share them with you.

        p.text.text--medium That is why I founded Pelevita Cosmetics. We are relatively young company that has been operating since the beginning of 2019, and we are the exclusive representative of Shor Cosmetics in the USA and Canada. We want to make the world a more beautiful place by providing women and men around the world with the cosmetics they need, and to give any person the opportunity to demonstrate their true inner beauty – without operations.

        p.text.text--medium When you choose our company, you are buying directly from a verified manufacturer, which also means you can be sure of a discount. Our cosmetics are sold in the United States and worldwide, and will soon be available on Amazon and through other providers.

        div.about-us__img
          img(src="images/img-about-2.png", alt="cosmetics")

        p.text.text--medium Follow us on social networks and keep up to date with our publications, new products and offers. And I am ready to answer your questions personally at any time – just write me at my personal email, 
          a(href="mailto:julia@pelevita.com") 
            b julia@pelevita.com

        p.text.text--medium  I’ll give you an 
          b exclusive discount 
          |just for writing and registering on our site, and you will be pleasantly surprised at the great value is waiting for you. We work closely with our clients from around the world and consider them to be part of one big family. 

        p.text.text--medium Communication with and feedback from you are critical to us, no less than the high quality of our cosmetics themselves. Do not hesitate to write – we are happy to answer any questions. 

      div.col-12.col-md-6
        div.about-us__img
          img(src="images/img-about-1.png", alt="cosmetics")

        p.text.text--medium Shor Cosmetics is a state-of-the art trademark brand and the crown jewel of O.S.A. Cosmetics, an Israeli company with more than a twenty- year history of producing professional-quality cosmetics under various brands. Andrew Shor, founder and general director of O.S.A. Cosmetics, created Shor Cosmetics as his signature personal brand. 

        p.text.text--medium Andrew’s love and gratitude for the Holy Land of Israel, and for the abundance of nature around the world, inspired him to use his background in organic chemistry to create unique natural cosmetic formulations. 

        p.text.text--medium They use the best that nature has to offer to make each one of us more beautiful. The Shor Cosmetics line includes the best and most innovative products developed over the course of the company’s extensive production experience. 

        p.text.text--medium All of our products are certified by Israel’s Ministry of Health, and their effectivity has been proven in clinical tests. 

        p.text.text--medium Our product range is diverse and caters to the needs of both men and women. 

        p.text.text--medium For men, our NEW PERCEPTION products are an innovative series of healthy and highly effective skin care formulations which are targeted to men’s unique skin care needs. Meanwhile, for women, our AGE REBEL collection is a line of pure, anti-aging skin care products which use natural ingredients to effectively fight the signs of aging.

        div.about-us__img.mr-b-0
          img(src="images/img-about-3.png", alt="JULIA PASHA COMPANY CREATOR")
          span.about-us__img-name JULIA PASHA 
            br
            |COMPANY CREATOR