.forma {
  /* 2 Block model */
  padding: 15px 25px;
  margin-bottom: 20px;
  /* 4 Visual */
  border: 1px solid #edebe9;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-bottom: 0;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    padding: 36px 46px;
  }
}
.form__innput {
  /* 2 Block model */
  display: flex;
  flex-direction: column;
}
.forma__innput {
  /* 4 Visual */
  border: none;
  padding: 0;
  padding-bottom: 10px;
}
.forma__textarea {
  /* 4 Visual */
  border: none;
  padding: 0;
}
.forma__item-input {
  /* 2 Block model */
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.forma__item-input label {
  /* 2 Block model */
  margin-bottom: 11px;

  /* 3 Typography */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
.forma__item-input input {
  /* 2 Block model */
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 10px;

  /* 3 Typography */
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #5a5a5a;

  /* 4 Visual */
  border: none;
  border-bottom: 1px solid #edebe9;
  outline: none;
}

.forma__item-input input::-webkit-input-placeholder {
	text-overflow:ellipsis;
	color: #5a5a5a;
}
.forma__item-input input::-moz-placeholder {
	text-overflow:ellipsis;
	color: #5a5a5a;
}  
.forma__item-input input:-ms-input-placeholder {
	text-overflow:ellipsis;
	color: #5a5a5a;
}
.forma__textarea {
  /* 2 Block model */
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
.forma__textarea label {
   /* 2 Block model */
  display: block;
  margin-bottom: 22px;

  /* 3 Typography */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
.forma__textarea textarea {
  /* 2 Block model */
  width: 100%;
  margin-bottom: 12px;

  /* 3 Typography */
  font-size: 12px;
  line-height: 14px;	
  font-family: $font-main;
  color: #5a5a5a;
  font-weight: normal;
  overflow: hidden;

  /* 4 Visual */
  border: none;
  border-bottom: 1px solid #edebe9;
  outline: none;
}
.forma__textarea span {
  /* 3 Typography */
  font-size: 10px;
  line-height: 12px;	
  font-family: $font-main;
  color: #000000;
  font-weight: normal;
}
.forma__action {
  /* 2 Block model */
  display: flex;
  justify-content: center;
}
.forma__btn {
  /* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: 0;
	padding: 0 15px;
	width: 139px;
	height: 33px;
	box-sizing: border-box;

	/* 3 Typography */
	font-size: 13px;
	line-height: 13px;	
	font-family: $font-main;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	-moz-appearance: none;

	/* 4 Visual */
	border: 1px solid $color-brown;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	background-color: $color-brown;
	
  /* 5 Animation*/
  transition: all 0.4s;

	/* 6 Misc */
	user-select: none;
}
.forma__btn:hover {
  /* 4 Visual */
  border-color: $color-black;
  background-color: transparent;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */

